@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Bienvenido a ClubInflu</h2>
    <p>Estás autenticado como: <strong>@User.Identity.Name</strong></p>
    <p>Tu rol es: <strong>@User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value</strong></p>
</div>