<footer class="bg-black text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Sección izquierda -->
            <div class="col-md-3 text-start">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Marcas</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Creadores</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Quienes somos</a></li>
                </ul>
            </div>

            <!-- Logo centrado -->
            <div class="col-md-6 text-center">
                <img src="~/imagenes/logo.png" alt="Logo" class="img-fluid mb-2" style="max-width: 150px;">
                <div>
                    <a href="#" class="text-light mx-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light mx-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light mx-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light mx-2"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <!-- Sección derecha -->
            <div class="col-md-3 text-end">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Aviso legal</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Política de cookies</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Política de privacidad</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center mt-3">
            <small>&copy; 2025 All Copyright by TechAnt | Digital Solution Team</small>
        </div>
    </div>
</footer>