@{
    ViewData["Title"] = "Selecciona tu Rol";
}

<h2 class="mt-4">Selecciona tu Rol</h2>

<p>Selecciona el rol con el que deseas registrarte:</p>

<form asp-action="SelectRole" method="post">
    <div class="form-group col-md-3">
        <label for="role">Rol</label>
        <select name="role" class="form-control">
            <option value="Influencer">Influencer</option>
            <option value="Provider">Proveedor</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Continuar</button>
</form>
