/* ========================= */
/*         GLOBAL            */
/* ========================= */

/* Aumenta el tamaño de la fuente en pantallas más grandes (mayores a 768px) */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

/* Ajusta la posición del documento para asegurar que el contenido se comporte correctamente */
html {
    position: relative;
    min-height: 100%;
}

/* Define el color de fondo general y un margen inferior para el contenido */
body {
    margin-bottom: 60px;
    background-color: #05091B;
}

/* ========================= */
/*         BOTONES           */
/* ========================= */

/* Define el estilo para los botones y elementos enfocados */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* ========================= */
/*         FOOTER            */
/* ========================= */

/* Estiliza el pie de página con un fondo oscuro y elimina cualquier borde superior */
footer.footer {
    background-color: #0B0B0E;
    border-top: none !important;
}

/* ========================= */
/*         NAVBAR            */
/* ========================= */

/* Hace que el navbar tenga un fondo transparente y sin bordes inferiores */
.navbar {
    background-color: transparent !important;
    border-bottom: none !important;
}

/* Cambia el color de los enlaces del navbar a blanco */
.nav-link {
    color: white !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* ========================= */
/*         BOTONES           */
/* ========================= */

/* Estilos personalizados para botones success */
.btn-success-custom {
    background-color: #2effb8 !important; /* Color verde brillante */
    color: black !important; /* Texto en negro */
    font-weight: bold; /* Texto en negrita */
    border-radius: 50px !important; /* Bordes redondeados */
    padding: 10px 20px !important; /* Espaciado interno */
    border: none !important; /* Sin bordes */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    font-size: 1rem; /* Ajusta el tamaño del texto */
    transition: 0.3s ease-in-out; /* Transición suave */
}

/* Efecto hover */
.btn-success-custom:hover {
    background-color: #24cc98 !important; /* Un tono más oscuro al pasar el mouse */
    color: black !important;
}

/* Estilos personalizados para botón transparente */
.btn-transparent {
    background-color: transparent !important; /* Fondo transparente */
    color: white !important; /* Texto en blanco */
    font-weight: bold; /* Texto en negrita */
    border: 2px solid #2effb8 !important; /* Borde de color verde neón */
    border-radius: 50px !important; /* Bordes redondeados */
    padding: 10px 20px !important; /* Espaciado interno */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    font-size: 1rem; /* Ajusta el tamaño del texto */
    transition: 0.3s ease-in-out; /* Transición suave */
}

    /* Efecto hover */
    .btn-transparent:hover {
        background-color: #2effb8 !important; /* Se vuelve verde al pasar el mouse */
        color: black !important; /* Texto en negro */
    }

